@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: rgb(255 255 255 / 0.08);
  }

  html {
    scroll-behavior: smooth;
    background: #08080b;
  }

  body {
    min-width: 320px;
    margin: 0;
    background: #08080b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  a {
    text-decoration: none;
  }
}
